body {
  width: 600px;
  margin: 25px auto;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: large;
  background-color: blanchedalmond;
}

.a2 {
  font-size: larger;
}

#a2 {
  font-size: large;
}

.b2 {
  font-size: larger;
}

#b2 {
  font-size: large;
}

.c2 {
  font-size: larger;
}

.big-text {
  font-size: larger;
}

#btn {
  font-size: 15px;
  padding: 5px 15px;
  border-radius: 5px;
}
